.container {
  padding-top: 100px; /* Adjust the value as needed */
}

.status {
  font-weight: bold;
}

.status.pending {
  color: orange;
}

.status.Approved {
  color: green;
}

.status.Denied {
  color: red;
}

/* Add this CSS to move the delete icon to the right */
.leave-request {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  cursor: pointer;
}
